<!DOCTYPE html>
<html>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<head>
</head>
<body>
<div class="container">
  <div class="row">
     <div class="col-xs-12" id="resHead">
         <h3>The Resume Of</h3>
         <h1>Michael Selutin</h1>
         <img width=100px class="img-responsive"  src="{{url_for('static', filename='clooney.png')}}" />
     </div>
   </div>
  <div class="row">
    <div class="col-xs-12 col-md-6" id="workExp">
      <h1 class="heading">My hobbies:</h1>
      <p>
        <ul>
        <li>JavaScript</li>
        <li>Python</li>
        <li>CSS</li>
        </ul>
      </p>

      <h1 class="heading">My skills:</h1>
      <p>
        <ul>
        <li>Sleeping</li>
        <li>Eating</li>
        <li>Sleeping again</li>
        </ul>
      </p>
    </div>
    <div class="col-xs-12 col-md-6" id="skillEdu">
      <h1 class="heading">My Strengths:</h1>

        <p>
          Very good sleeper after a meal!
        </p>
      <h1 class="heading">My Weaknesses:</h1>
        <p>
          Like to eat and sleep
        </p>

  <div class="row">
  <div class="contact col-xs-12">
    <img width=100px class="img-responsive"  src="{{url_for('static', filename='letter.png')}}" />
   <h1 class="title">Contact</h1>
      <p class="subtitle">
          Country <br/>
          ZIP, City<br />
          Street #number<br />
        <a href="tel:phone">PHONE</a><br />
        <a target="_blank" href="https://twitter.com/handle">Twitter</a><br />
        <a target="_blank" href="https://github.com/handle">GitHub</a><br />
        </div>
</div>
</div>

</body>

</html>

